[data-bs-theme="dark"] .img-light {
  display: none;
}

[data-bs-theme="dark"] .img-dark {
  display: inline;
}

[data-bs-theme="light"] .img-dark {
  display: none;
}

[data-bs-theme="light"] .img-light {
  display: inline;
}


